<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <meta name="description" content="Türkiyənin onlayn alış-veriş saytlarından Azərbaycana çatdırılma. Türkiyədən sifariş 3-5 gün ərzində Azərbaycanda. Sürətli çatdırılma və ucuz kargo.">
    <meta name="keywords" content="Onlayn alış-veriş, çatdırılma, onlayn sifariş, Türkiyədən Azərbaycana onlayn sifariş, paltar sifarişi, türkiyədən sifariş, onlayn çatdırılma, sürətli və ucuz kargo.">
    <title>MediClinic &#8211; @ViewBag.Title</title>
    <meta name="title" content="MediClinic">
    <link rel="icon" href="~/assets/icons/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="stylesheet" href="~/assets/flickity/flickity.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link href="~/libs/toastr.js/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    @RenderSection("addcss", required: false)
    <style>
        .pagination-up {
            margin-bottom: 8rem;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin: 0 0 5px;
        }

        .disabled {
            pointer-events: none;
        }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a i {
                color: #999;
            }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #68b2d1;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

        .pagination-wrapper {
            padding: 20px 25px;
        }

        .pagination a {
            display: inline-block;
            padding: 2px;
        }

        .response {
            margin: 20px 0;
            display:none;
        }

            .response h5 {
                margin: 0 0 10px;
                font-size: 14px;
                color: #333;
                font-weight: 500;
                line-height: 1.66em;
            }

                .response h5 a {
                    margin-left: 10px;
                    font-size: 12px;
                    color: #43d5cb;
                }

            .response textarea {
                display: block;
                padding: 15px 24px;
                width: 100%;
                margin: 0 0 15px;
                font-size: 14px;
                line-height: 20px;
                color: #333;
                background-color: transparent;
                border: 1px solid #e1e1e1;
                transition: border-color .2s ease-in-out;
            }

            .response input {
                margin: 20px 0;
                line-height: 1em;
                font-weight: 500;
                border-radius: 5px;
                transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
                padding: 16px 23px;
                font-size: 14px;
                color: #fff;
                background-color: #43d5cb;
                border: 0;
            }
        .toast-info{
            position:relative;
            z-index:9999999;
        }
        .invalid{
            color:red;
        }
        .validation-text {
            font-size: 12px !important;
            color: red !important;
        }
    </style>

</head>
<body>
    <div id="loading"></div>
    <div class="page">
        <div class="appointment-modal__wrapper">
            <div class="appointment-modal">
                <div class="appointment-modal__form-wrapper">
                    <div class="appointment-modal__title-box">
                        <h4>Make an Appointment</h4>
                        <div class="appointment-modal__title-text">
                            We provide the most full medical services, so every person could have the <br>
                            oportunity to receive qualitative medical help.
                        </div>
                    </div>
                    <form method="post" class="appointment-modal__form" id="appointmentfrm">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6 appointment-modal__row">
                                <input type="text" class="appointment-modal__input" name="Name" placeholder="Your Name"
                                       data-rule-required="true" data-msg-required="Please, enter your name">
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6 appointment-modal__row">
                                <input type="tel" class="appointment-modal__input" name="Phone" placeholder="Your Phone"
                                       data-rule-required="true" data-msg-required="Please, enter your phone">
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6 appointment-modal__row">
                                <input type="email" class="appointment-modal__input" name="Email" placeholder="Your E-mail"
                                       data-rule-required="true" data-msg-required="Please, enter your username">
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6 appointment-modal__row">
                                <select class="appointment-modal__input appointment-modal__input--select" id="selectedDepartment">
                                    <option value="default">Select Departments</option>
                                    @await Component.InvokeAsync("SelectedDepartment")
                                </select>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6 appointment-modal__row">
                                <input type="date" id="selectedDateApp" class="appointment-modal__input" placeholder="Select Date">
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6 appointment-modal__row">
                                <select class="appointment-modal__input appointment-modal__input--select" id="selectedTime">
                                    @*<option value="default" style="display: none;">Select Time</option>*@
                                    @*<option value="10:00" data-value="Cardiology" style="display: block;">10:00AM - 12:00AM</option>*@
                                </select>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 appointment-modal__row">
                                <textarea type="text" name="Message" class="appointment-modal__input appointment-modal__input--textarea" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 appointment-modal__row">
                                <button class="btn btn--black" style="border:none;">Submit now</button>
                            </div>
                        </div>
                    </form>
                </div>
                <a href="#" class="appointment-modal__form-close"></a>
            </div>
        </div>
        @await Component.InvokeAsync("Login")
        @await Component.InvokeAsync("Register")
        <div class="search__wrapper">
            <div class="search">
                <div class="search__form-wrapper">
                    <div class="appointment-modal__title-box">
                        <h4>Search</h4>
                    </div>
                    <form action="" class="appointment-modal__form">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 appointment-modal__row">
                                <div class="search__icon-wrapper">
                                    <input type="text" class="appointment-modal__input" placeholder="Search word...">
                                    <a href="#" class="search__icon">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <a href="#" class="search__form-close"></a>
            </div>
        </div>
        <div class="menu-side">
            <div class="menu-side__head">
                <a href="./index.html" class="header__top-logo menu-side__title">
                    <img src="/uploads/images/logo-dark.png" width="173" height="36" alt="logo">
                </a>
                <i class="icon-close_two_tone menu-side__close-icon" id="closeIcon"></i>
            </div>
            <nav class="menu-side__navbar">
                <ul class="menu-side__list">
                    <li class="menu-side__list-item"><a asp-controller="doctor" asp-action="index" class="menu-side__list-link">Doctors</a></li>
                    <li class="menu-side__list-item"><a asp-controller="home" asp-action="timetable" class="menu-side__list-link">Timetable</a></li>
                    <li class="menu-side__list-item"><a asp-controller="department" asp-action="index" class="menu-side__list-link">Departments</a></li>
                    <li class="menu-side__list-item"><a asp-controller="Blog" asp-action="Index" class="menu-side__list-link">Blogs</a></li>
                    <li class="menu-side__list-item"><a asp-controller="home" asp-action="faq" class="menu-side__list-link">FAQ</a></li>
                    <li class="menu-side__list-item"><a href="./contact.html" class="menu-side__list-link">About us</a></li>
                    <li class="menu-side__list-item"><a asp-controller="home" asp-action="contact" class="menu-side__list-link">Contact us</a></li>
                </ul>
            </nav>
            <div class="menu-side__footer">
                <div class="menu-side__lang">
                    <a data-lang="az" class="btn btn--menu mr-10">AZE</a>
                    <a data-lang="en" class="btn btn--menu mr-10">ENG</a>
                    @*<a href="" class="btn btn--menu">RUS</a>*@
                </div>
                <a href="" class="btn btn--menu header__search-1">
                    <i class="icon-phone_two_tone fa fa-search"></i>
                    <span>Search</span>
                </a>
            </div>
        </div>
        <header class="header">
            <div class="header__top">
                <div class="custom-container">
                    <div class="header__top-inner">
                        <a asp-controller="home" asp-action="index" class="header__top-logo">
                            <img src="/uploads/images/logo-dark.png" width="173" height="36" alt="logo">
                        </a>
                        <div class="header__top-main">
                            <div class="header__info">
                                <div class="header__info-icon">
                                    <a target="_self" href="tel:+1258888455">
                                        <i class="fa fa-phone header__info-fa"></i>
                                    </a>
                                </div>
                                <div class="header__info-text">
                                    <a target="_self" class="header__info-first" href="tel:+1258888455">
                                        + (123) 1800-567-8990
                                    </a>
                                    <span>
                                        + (123) 1800-453-1546
                                    </span>
                                </div>
                            </div>
                            <div class="header__info">
                                <div class="header__info-icon">
                                    <i class="fa fa-clock-o header__info-fa"></i>
                                </div>
                                <div class="header__info-text">
                                    <span class="header__info-first">
                                        Mon - Fri: 9:00AM - 5:00PM
                                    </span>
                                    <span>
                                        Sat - Sun: Closed
                                    </span>
                                </div>
                            </div>
                            <div class="header__info">
                                <div class="header__info-icon">
                                    <a target="_self" href="tel:+1258888455">
                                        <i class="fa fa-envelope header__info-fa"></i>
                                    </a>
                                </div>
                                <div class="header__info-text">
                                    <a target="_self" class="header__info-first" href="mailto:mediclinic@qodeinteractive.com">
                                        mediclinic@qodeinteractive.com
                                    </a>
                                    <span>
                                        clinic@qodeinteractive.com
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="custom-container">
                    <div class="header__bottom-wrapper">
                        <nav class="menu">
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <a href="./about.html" class="menu__list-link">Home</a>
                                </li>
                                <li class="menu__list-item">
                                    <a class="menu__list-link">Doctors</a>
                                    <div class="menu__dropdown">
                                        <ul class="menu__dropdown-list">
                                            <li class="menu__dropdown-item"><a asp-controller="doctor" asp-action="index" class="menu__dropdown-link">Our doctors</a></li>
                                            <li class="menu__dropdown-item"><a asp-controller="home" asp-action="timetable" class="menu__dropdown-link">Timetable</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu__list-item">
                                    <a class="menu__list-link">Departments</a>
                                    <div class="menu__dropdown">
                                        <ul class="menu__dropdown-list">
                                            <li class="menu__dropdown-item"><a asp-controller="department" asp-action="index" class="menu__dropdown-link">All Departments</a></li>
                                            @await Component.InvokeAsync("Department")
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu__list-item">
                                    <a asp-controller="Blog" asp-action="Index" class="menu__list-link">Blogs</a>
                                </li>
                                <li class="menu__list-item">
                                    <a asp-controller="home" asp-action="faq" class="menu__list-link">FAQ</a>
                                </li>
                                <!-- <li class="menu__list-item">
                                <a href="./tariffs.html" class="menu__list-link">My Account</a>
                                <div class="menu__dropdown">
                                    <ul class="menu__dropdown-list">
                                        <li class="menu__dropdown-item"><a href="./tariffs.html" class="menu__dropdown-link">Cart</a></li>
                                        <li class="menu__dropdown-item"><a href="./tariffs.html" class="menu__dropdown-link">Checkout</a></li>
                                    </ul>
                                </div>
                            </li> -->
                                <li class="menu__list-item">
                                    <a class="menu__list-link">About us</a>
                                    <div class="menu__dropdown">
                                        <ul class="menu__dropdown-list">
                                            <li class="menu__dropdown-item"><a asp-controller="home" asp-action="whoweare" class="menu__dropdown-link">Who We Are</a></li>
                                            <li class="menu__dropdown-item"><a href="./tariffs.html" class="menu__dropdown-link">Our Clinic</a></li>
                                            <li class="menu__dropdown-item"><a href="./tariffs.html" class="menu__dropdown-link">Our Services</a></li>
                                            <li class="menu__dropdown-item"><a asp-controller="home" asp-action="process" class="menu__dropdown-link">Process</a></li>
                                            <li class="menu__dropdown-item"><a href="./tariffs.html" class="menu__dropdown-link">Our Clients</a></li>
                                            <li class="menu__dropdown-item"><a asp-controller="home" asp-action="workhours" class="menu__dropdown-link">Working Hours</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu__list-item">
                                    <a asp-controller="home" asp-action="contact" class="menu__list-link">Contact us</a>
                                </li>
                                <li class="menu__list-elem"></li>
                            </ul>
                        </nav>
                        <div class="header__user-side">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                            {
                                <div class="header__user-side-icon">
                                    <span class="header__user-side-profile">
                                        <img src="/uploads/images/notfoundprofile.png" class="header__user-side-img" alt="">
                                        <span class="header__user-side-info">
                                            <span class="header__user-side-name">@User.GetPrincipalUserName()</span>
                                            <span class="header__user-side-mail">@(User.GetPrincipalEmail().Length>15? @User.GetPrincipalEmail().Substring(0,15)+"..": @User.GetPrincipalEmail())</span>
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="10px">    <path d="M15,23c-0.256,0-0.512-0.098-0.707-0.293l-10-10c-0.286-0.286-0.372-0.716-0.217-1.09C4.23,11.243,4.596,11,5,11h20 c0.404,0,0.77,0.243,0.924,0.617c0.155,0.374,0.069,0.804-0.217,1.09l-10,10C15.512,22.902,15.256,23,15,23z"></path></svg>
                                    </span>
                                    <ul class="header__user-side-dropdown visibility">
                                        <li>
                                            <a asp-controller="account" asp-action="profile">
                                                <svg fill="#646464" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="24px" height="45.532px" viewBox="0 0 45.532 45.532" style="enable-background:new 0 0 45.532 45.532;"
                                                     xml:space="preserve">
                                                <g>
                                                <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765
                                                        S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53
                                                        c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012
                                                        c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592
                                                        c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z" />
                                                </g>
                                            </svg>
                                                <span>
                                                    Profile
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="account" asp-action="setting">
                                                <svg fill="#646464" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 9.6660156 2 L 9.1757812 4.5234375 C 8.3516137 4.8342536 7.5947862 5.2699307 6.9316406 5.8144531 L 4.5078125 4.9785156 L 2.171875 9.0214844 L 4.1132812 10.708984 C 4.0386488 11.16721 4 11.591845 4 12 C 4 12.408768 4.0398071 12.832626 4.1132812 13.291016 L 4.1132812 13.292969 L 2.171875 14.980469 L 4.5078125 19.021484 L 6.9296875 18.1875 C 7.5928951 18.732319 8.3514346 19.165567 9.1757812 19.476562 L 9.6660156 22 L 14.333984 22 L 14.824219 19.476562 C 15.648925 19.165543 16.404903 18.73057 17.068359 18.185547 L 19.492188 19.021484 L 21.826172 14.980469 L 19.886719 13.291016 C 19.961351 12.83279 20 12.408155 20 12 C 20 11.592457 19.96113 11.168374 19.886719 10.710938 L 19.886719 10.708984 L 21.828125 9.0195312 L 19.492188 4.9785156 L 17.070312 5.8125 C 16.407106 5.2676813 15.648565 4.8344327 14.824219 4.5234375 L 14.333984 2 L 9.6660156 2 z M 11.314453 4 L 12.685547 4 L 13.074219 6 L 14.117188 6.3945312 C 14.745852 6.63147 15.310672 6.9567546 15.800781 7.359375 L 16.664062 8.0664062 L 18.585938 7.40625 L 19.271484 8.5917969 L 17.736328 9.9277344 L 17.912109 11.027344 L 17.912109 11.029297 C 17.973258 11.404235 18 11.718768 18 12 C 18 12.281232 17.973259 12.595718 17.912109 12.970703 L 17.734375 14.070312 L 19.269531 15.40625 L 18.583984 16.59375 L 16.664062 15.931641 L 15.798828 16.640625 C 15.308719 17.043245 14.745852 17.36853 14.117188 17.605469 L 14.115234 17.605469 L 13.072266 18 L 12.683594 20 L 11.314453 20 L 10.925781 18 L 9.8828125 17.605469 C 9.2541467 17.36853 8.6893282 17.043245 8.1992188 16.640625 L 7.3359375 15.933594 L 5.4140625 16.59375 L 4.7285156 15.408203 L 6.265625 14.070312 L 6.0878906 12.974609 L 6.0878906 12.972656 C 6.0276183 12.596088 6 12.280673 6 12 C 6 11.718768 6.026742 11.404282 6.0878906 11.029297 L 6.265625 9.9296875 L 4.7285156 8.59375 L 5.4140625 7.40625 L 7.3359375 8.0683594 L 8.1992188 7.359375 C 8.6893282 6.9567546 9.2541467 6.6314701 9.8828125 6.3945312 L 10.925781 6 L 11.314453 4 z M 12 8 C 9.8034768 8 8 9.8034768 8 12 C 8 14.196523 9.8034768 16 12 16 C 14.196523 16 16 14.196523 16 12 C 16 9.8034768 14.196523 8 12 8 z M 12 10 C 13.111477 10 14 10.888523 14 12 C 14 13.111477 13.111477 14 12 14 C 10.888523 14 10 13.111477 10 12 C 10 10.888523 10.888523 10 12 10 z" /></svg>
                                                <span>Setting</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout.html">
                                                <svg fill="#646464" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 9.408l2.963 2.592-2.963 2.592v-1.592h-8v-2h8v-1.592zm-2-4.408v4h-8v6h8v4l8-7-8-7zm6-3c-1.787 0-3.46.474-4.911 1.295l.228.2 1.396 1.221c1.004-.456 2.114-.716 3.287-.716 4.411 0 8 3.589 8 8s-3.589 8-8 8c-1.173 0-2.283-.26-3.288-.715l-1.396 1.221-.228.2c1.452.82 3.125 1.294 4.912 1.294 5.522 0 10-4.477 10-10s-4.478-10-10-10z" /></svg>
                                                <span>Log out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a class="header__user-account makeLoginModal">
                                    <i class="icon-user_two_tone"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                    <span class="header__user-account__text">Account</span>
                                </a>
                            }


                            <a href="#" class="btn btn--primary makeAppointmentModal">
                                Make an Appointment
                            </a>
                            <div class="header__lang" tabindex="0">
                                <a class="header__lang__current" data-lang-viewer="language">AZE</a>
                                <ul class="header__lang__list d-none">
                                    <li class="header__lang__list-item" data-lang="en"><a class="header__lang__item-link">ENG</a></li>
                                    <li class="header__lang__list-item" data-lang="az"><a class="header__lang__item-link">AZE</a></li>
                                </ul>
                            </div>
                            <!-- <a href="#" class="header__user-side-icon">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="header__user-side-circle">
                                    <span class="header__user-side-count">2</span>
                                </span>

                            </a> -->

                            <a href="#" class="header__user-side-icon header__search header__search-1">
                                <i class="fa fa-search"></i>
                            </a>
                            <!-- <a href="#" class="header__user-side-icon">
                                    <i class="fa fa-bars"></i>
                                </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="header__mobile">
            <div class="header__top">
                <div class="custom-container">
                    <div class="header__mobile__wrapper">
                        <a href="#" class="header__user-side-icon header__user-side-icon--mobile">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="./index.html" class="header__top-logo--center">
                            <img src="/uploads/images/logo-dark.png" width="173" height="36" alt="logo">
                        </a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {

                            <a class="header__user-account" asp-controller="account" asp-action="profile">
                                <i class="icon-user_two_tone"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>

                            </a>
                        }
                        else
                        {

                            <a href="./signin.html" class="header__user-account makeLoginModal">
                                <i class="icon-user_two_tone"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>

                            </a>
                        }
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
        @await Component.InvokeAsync("Footer")

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="~/assets/flickity/flickity.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("addjs", required: false)
    <script>
        //Toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        //MultiLanguage
        const language = `@Context.GetCurrentCulture()`;

    const selectedLanText = $(`[data-lang="${language}"]`).text();
    $(`[data-lang-viewer="language"]`).text(selectedLanText.substring(0, selectedLanText.length/2));

    $('[data-lang]').click(function (e) {
        e.preventDefault();

        let path = `${window.location.pathname}${window.location.search}`;
        let selectedLang = $(e.currentTarget).data('lang');

        let result = /\/(en|az|ru)?\/?(.*)?/.exec(path);

        if (result != null && result[2] != undefined) {

            path = `/${selectedLang}/${result[2]}`;
        }
        else if (result != null) {
            path = `/${selectedLang}`;
        }

        window.location.href = path;

    })


    $(document).ready(function () {
        let result = /\/(en|az|ru)?\/?(.)\/(.)/.exec(window.location.pathname);
        if (result != null) {
            $(".nav-link").each(function (index, element) {
                $(this).parent().removeClass("active");
                if ($(this).attr("aria-controls") == result[3] || result[2].includes($(this).attr("aria-controls"))) {
                    $(this).parent().addClass("active");
                }
            })
        }
        else {
            $(".nav-link").each(function (index, element) {
                $(this).parent().removeClass("active");
                if ($(this).attr("aria-controls") == "about") {
                    $(this).parent().addClass("active");
                }
            })
        }
    })
    </script>
    <script>
        //register
    $(document).ready(function () {
            $("#registerfrm").submit(function (e) {
                e.preventDefault();
                console.log("b")
                if (!$(e.currentTarget).valid())
                    return;

                var frm = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("Register", "Account")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!")
                            e.currentTarget.reset();
                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorClass: "invalid",
                validClass: "valid"
            });
    })
        //login
    $(document).ready(function () {
         $("#loginfrm").submit(function (e) {
             console.log("a")
                e.preventDefault();
                if (!$(e.currentTarget).valid())
                    return;

                var frm = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("SignIn", "Account")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            //toastr.success(response.message, "Successfully!")
                            e.currentTarget.reset();
                            window.location.pathname = "/home";
                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorClass: "invalid",
                validClass: "valid"
            });
    })
        //selectedDepartment
    $(document).ready(function () {

            $("#selectedDepartment").change(function (e) {
                e.preventDefault();

                var frm = new FormData();
                frm.append("DepartmentId", $("#selectedDepartment option:selected").val());
                $.ajax({
                    url: '@Url.Action("FilterTime", "Home")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            var html="";
                            for (var i = response.dateMin; i < response.dateMax; i++) {
                                html = html + "<option value=\"" + i +"\">" + i + ":00 - " + (parseInt(i)+1) + ":00 </option>";
                            }
                            $("#selectedTime").html("");
                            $("#selectedTime").append("<option value='default'>Select Time</option>");
                            $("#selectedTime").append(html);
                            e.currentTarget.reset();

                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorClass: "invalid",
                validClass: "valid"
            });
    })
        //appointment
    $(document).ready(function () {
            $("#appointmentfrm").submit(function (e) {
                e.preventDefault();
                if (!$(e.currentTarget).valid())
                    return;

                var frm = new FormData(e.currentTarget);
                var time = $("#selectedTime option:selected").val();
                var date = $("#selectedDateApp").val();
                var newDateTime = moment(date, "YYYY-MM-DD HH:mm:ss")
                    .add(time, 'hours')
                    .format("YYYY-MM-DD HH:mm:ss");

                frm.append('Date', newDateTime);


                $.ajax({
                    url: '@Url.Action("DoctorAppointment", "Doctor")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!")
                            e.currentTarget.reset();
                            $("#selectedTime").html("");
                            $("#selectedTime").append("<option value='default'>Select Time</option>");
                            $("#selectedTime").append(html);
                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorClass: "invalid",
                validClass: "valid"
            });
    })
    //subscription
    $(document).ready(function () {
        $("#subscriptionfrm").submit(function (e) {
                e.preventDefault();
                if (!$(e.currentTarget).valid())
                return;

                var frm = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("Subscribe", "Home")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            /*toastr.success(response.message, "Successfully!")*/
                            e.currentTarget.reset();
                            e.preventDefault();
                            document.querySelector('.subscription').classList.add('done');
                            $(".after-submit").text(response.message);
                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorClass: "invalid",
                validClass: "valid"
            });
    })

    </script>
</body>
</html>