@model MediClinicUser
@{
    ViewData["Title"] = "Profile";
}


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="profile">
                    <div class="profile-head">
                        <div class="photo-content">
                            <div class="cover-photo"></div>
                            <form id="changeImgFrm" enctype="multipart/form-data" method="post">
                                <div class="profile-photo">
                                    <img src="/uploads/images/@Model.ImgUrl" style="width:150px; height:140px;" class="img-fluid rounded-circle" alt="user">
                                    <span class="aside-form__pen">
                                        <input type="file" style="display:none" id="form-file" name="file">
                                        <label for="form-file" style="cursor: pointer;" class="form-file">
                                            <?xml version="1.0" encoding="utf-8" ?>
                                            <svg version="1.1" style="color:black; width:18px;" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 117.74 122.88" style="enable-background:new 0 0 117.74 122.88" xml:space="preserve"><style type="text/css">
                                                                                                                                                                                                                                                                               .st0 {
                                                                                                                                                                                                                                                                                   fill-rule: evenodd;
                                                                                                                                                                                                                                                                                   clip-rule: evenodd;
                                                                                                                                                                                                                                                                               }
</style><g><path class="st0" d="M94.62,2c-1.46-1.36-3.14-2.09-5.02-1.99c-1.88,0-3.56,0.73-4.92,2.2L73.59,13.72l31.07,30.03l11.19-11.72 c1.36-1.36,1.88-3.14,1.88-5.02s-0.73-3.66-2.09-4.92L94.62,2L94.62,2L94.62,2z M41.44,109.58c-4.08,1.36-8.26,2.62-12.35,3.98 c-4.08,1.36-8.16,2.72-12.35,4.08c-9.73,3.14-15.07,4.92-16.22,5.23c-1.15,0.31-0.42-4.18,1.99-13.6l7.74-29.61l0.64-0.66 l30.56,30.56L41.44,109.58L41.44,109.58L41.44,109.58z M22.2,67.25l42.99-44.82l31.07,29.92L52.75,97.8L22.2,67.25L22.2,67.25z" /></g></svg>
                                        </label>
                                    </span>
                                </div>

                            </form>
                        </div>
                        <div class="profile-info">
                            <div class="row justify-content-center">
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-xl-4 col-sm-4 border-right-1 prf-col">
                                            <!--<div class="profile-name">
                                                <h4 class="text-primary" id="settingTitle">@Model.Name @Model.Surname</h4>-->
                                                @*<p>UX / UI Designer</p>*@
                                            <!--</div>-->
                                        </div>
                                        <div class="col-xl-4 col-sm-4 border-right-1 prf-col">
                                            @*<div class="profile-email">
                                                <h4 class="text-muted" id="settingEmail">@Model.Email</h4>
                                                <p>Email</p>
                                            </div>*@
                                        </div>
                                        <!-- <div class="col-xl-4 col-sm-4 prf-col">
                                            <div class="profile-call">
                                                <h4 class="text-muted">(+1) 321-837-1030</h4>
                                                <p>Phone No.</p>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#about-me" data-toggle="tab" class="nav-link">About Me</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#profile-settings" data-toggle="tab" class="nav-link">Profile Setting</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#password" data-toggle="tab" class="nav-link">Password Setting</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="about-me" class="tab-pane mt-5 fade active show">
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Personal Information</h4>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">
                                                        Name <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>@Model.Name</span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">
                                                        Surname <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>@Model.Surname</span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">
                                                        UserName <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>@Model.UserName</span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">
                                                        Email <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>@Model.Email</span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Phone<span class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>@Model.PhoneNumber</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="profile-settings" class="mt-5 tab-pane fade">
                                        <div class="pt-3">
                                            <div class="settings-form">
                                                <h4 class="text-primary">Profile Setting</h4>
                                                <form id="accountfrm">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name</label>
                                                            <input type="text" name="Name" id="form-name" value="@Model.Name" placeholder="Name" class="form-control"
                                                                   data-rule-required="true" data-msg-required="Please, enter your name">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>SurName</label>
                                                            <input type="text" name="Surname" id="form-surname" value="@Model.Surname" placeholder="Surname" class="form-control"
                                                                   data-rule-required="true" data-msg-required="Please, enter your surname">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>Email</label>
                                                            <input type="email" name="Email" id="form-email" value="@Model.Email" placeholder="Email" class="form-control"
                                                                   data-rule-required="true"
                                                                   data-rule-email="true"
                                                                   data-msg-required="Please, enter email"
                                                                   data-msg-email="Invalid E-mail! Please, enter your email" >
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Username</label>
                                                            <input type="text" name="UserName" value="@Model.UserName" placeholder="Username" class="form-control"
                                                                   data-rule-required="true" data-msg-required="Please, enter your username">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        <input type="tel" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Example: (+994)77 571 02 18" class="form-control">
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">
                                                        Change
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="password" class="tab-pane fade mt-5">
                                        <div class="pt-3">
                                            <div class="settings-form">
                                                <h4 class="text-primary">Password Setting</h4>
                                                <form id="passwordfrm" >
                                                    <div class="form-group">
                                                        <label>Old Password</label>
                                                        <input type="password" placeholder="Old Password" class="form-control" name="OldPass"
                                                               data-rule-required="true" data-msg-required="Please, enter your old password" />
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>New Password</label>
                                                            <input type="password" placeholder="New Password" class="form-control" name="NewPass"
                                                                   data-rule-required="true" data-msg-required="Please, enter your new password" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>New Password Confirm</label>
                                                            <input type="password" placeholder="Confirm New Password" class="form-control" name="NewPassAgain"
                                                                   data-rule-required="true" data-msg-required="Please, enter your new password" />
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">
                                                        Change
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section addcss{
    <style>
        .profile-photo{
            position:relative;
        }
        .form-file {
            position: absolute;
            bottom: 0;
            right: 7%;
        }
    </style>
}

@section addjs{
    <script>
         $(document).ready(function () {
         $("#accountfrm").submit(function (e) {
             e.preventDefault();
                if (!$(e.currentTarget).valid())
                    return;

                var frm = new FormData(e.currentTarget);
             console.log("a")
                $.ajax({
                    url: '@Url.Action("Profile", "Account")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!");
                            $("#settingTitle").text($("#form-name").val() + " " + $("#form-surname").val());
                            $("#settingEmail").text($("#form-email").val());
                            console.log("a")
                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorElement: 'div',
                errorClass: "form__helper",
                validClass: "valid"
            });
         })

        $(document).ready(function () {
            $("#form-file").change(function () {
                $("#changeImgFrm").submit();
            })
             $("#changeImgFrm").submit(function (e) {
                 e.preventDefault();
                if (!$(e.currentTarget).valid())
                    return;

                var frm = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("ChangeImage", "Account")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!")
                            location.reload();
                        }
                        else {
                            toastr.error(response.message, "Error!")
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorElement: 'div',
                errorClass: "form__helper",
                validClass: "valid"
            });
        })

        $(document).ready(function () {
            $("#passwordfrm").submit(function (e) {
                e.preventDefault();
                if (!$(e.currentTarget).valid())
                    return;

                var frm = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("ChangePassword", "Account")',
                    type: "Post",
                    data: frm,
                    contentType: false,
                    dataType: "json",
                    processData: false,
                    beforeSend: function (response) {
                        console.log("before sending")
                    },
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!")
                            e.currentTarget.reset();
                        }
                        else {
                            toastr.error(response.message, "Error!")
                            e.currentTarget.reset();
                        }

                    },
                    error: function (response) {
                        toastr.error("Please, try again...", "Error!")
                    }

                }).always(function () {
                    console.log("after sending")
                });


            }).validate({
                errorElement: 'div',
                errorClass: "form__helper",
                validClass: "valid"
            });
         })
    </script>
}