@model BlogPostCategoriesDetailsViewModel
@{
    ViewData["Title"] = "Details";

    IEnumerable<BlogPostComment> GetComments(BlogPostComment parent)
    {
        if (parent.ParentId != null)
        {
            yield return parent;
        }

        foreach (var item in parent.Children.SelectMany(c => GetComments(c)))
        {
            yield return item;
        }
    }
}
<section class="blog__main">
    <div class="custom-container-fluid p-0 main__img">
        <div class="main__wrapper">
            <h1 class="main__title">Blogs</h1>
            <span class="main__subtitle">Home  /   @Model.BlogPost.BlogCategory.Name  /  @Model.BlogPost.Title</span>
        </div>
    </div>
</section>
<section class="blog-details">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-sm-12 col-xl-9">
                <article class="blog-details__main-content">
                    <div class="blog-details__img">
                        <img src="/uploads/images/@Model.BlogPost.ImgUrl" alt="photo">
                    </div>
                    <div class="blog-details__content">
                        <div class="blog-details__info-top">
                            <span>@Model.BlogPost.PublishedDate?.ToString("dd MMMM, yyyy")</span>
                            <span>@Model.BlogPost.BlogCategory.Name</span>
                            @*<span>Health, Hospital</span>*@
                        </div>
                        <div class="blog-details__main-text">
                            <h3 class="blog-details__title">@Model.BlogPost.Title</h3>
                            <div>
                                @Html.Raw(Model.BlogPost.Content)
                            </div>
                        </div>
                        <div class="blog-details__main-footer">
                            <div class="blog-details__main-footer--left">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="blog-details__main-footer--right">
                                <span>By @Model.BlogPost.Doctor.Name </span>
                                <a href="#" class="blog-details__comment-icon">
                                    <i class="fa fa-comments"></i>
                                    <span>@Model.BlogPost.Comments.Count()</span>
                                </a>
                                @*<a href="#" class="blog-details__comment-icon">
                                        <i class="fa fa-heart"></i>
                                        <span>11</span>
                                    </a>*@
                            </div>
                        </div>
                    </div>
                </article>
                <div class="blog-details__related">
                    <h5>Related Posts</h5>
                    <div class="blog-details__posts">
                        @foreach (var blog in Model.BlogPosts)
                        {
                            <div class="blog-details__post">
                                <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id">
                                    <img style="width:100%" src="/uploads/images/@blog.ImgUrl" alt="photo">
                                </a>
                                <a href="#">
                                    <h5>@blog.Doctor.Name</h5>
                                </a>
                                <div class="blog-details__post-info">
                                    <span>@blog.PublishedDate?.ToString("dd MMMM, yyyy")</span>
                                    <span>@blog.BlogCategory.Name</span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="blog-details__next">
                    <a asp-controller="blog" asp-action="details" asp-route-id="@Model.BlogPosts.Select(e => e.Id).FirstOrDefault()">
                        <span>Next post</span>
                        <img src="/uploads/images/@Model.BlogPosts.Select(e => e.ImgUrl).FirstOrDefault()" alt="">
                    </a>
                </div>
                <div class="blog-details__doctor">
                    <a href="#" class="blog-details__doctor-img">
                        <img src="/uploads/images/@Model.BlogPost.Doctor.ImgUrl" alt="doctor">
                    </a>
                    <div class="blog-details__doctor-img">
                        <h5>@Model.BlogPost.Doctor.Name</h5>
                        <div>
                            @Model.BlogPost.Description
                        </div>
                        <div class="blog-details__doctor-media">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-details__comments">
                    <h5 class="blog-details__comments-title">@Model.BlogPost.Comments?.Count() Comments</h5>
                    <div class="blog-details__comments-main">
                        @foreach (var item in Model?.BlogPost.Comments?.Where(a => a.ParentId == null))
                        {
                            <div class="blog-details__comments-first" id="#c-@item.Id" data-comment-id="@item.Id">
                                <div class="blog-details__comments-first-img">
                                    <img src="/uploads/images/@item.MediClinicUser.ImgUrl" alt="photo">
                                </div>
                                <div class="blog-details__comments-first-info">
                                    <h5>@item.MediClinicUser.UserName</h5>
                                    <p>@item.Comment</p>
                                    <div class="response">
                                        <h5>
                                            Reply to @User.GetPrincipalUserName()
                                            <small><a href="#" class="response__cancel">cancel reply</a></small>
                                        </h5>
                                        <form method="post" class="replyForm">
                                            <input type="hidden" name="postId" value="@Model.BlogPost.Id" />
                                            <textarea name="comment" cols="30" rows="10"></textarea>
                                            <input type="submit">
                                        </form>
                                    </div>
                                    <div class="blog-details__comments-first-mini">
                                        <span>@item.CreatedDate.ToString("dd MMMM yyyy")</span>
                                        <a class="blog-details__comments-first-reply btn-comment-reply">
                                            <i class="fa fa-reply"></i>
                                            reply
                                        </a>
                                    </div>
                                </div>
                            </div>

                            @foreach (var subComment in GetComments(item))
                            {
                                <div class="blog-details__comments-first blog-details__comments-first--sub" id="#c-@subComment.Id" data-comment-id="@subComment.Id">
                                    <div class="blog-details__comments-first-img">
                                        <img src="/uploads/images/@subComment.MediClinicUser.ImgUrl" alt="photo">
                                    </div>
                                    <div class="blog-details__comments-first-info">
                                        <h5>@subComment.MediClinicUser.UserName</h5>
                                        <a href="#c-@subComment.ParentId">@@@($"{subComment.Parent.MediClinicUser?.UserName}")</a> &nbsp; &nbsp;
                                        <p>@subComment.Comment</p>
                                        <div class="blog-details__comments-first-mini">
                                            <span>May 8, 2017 14:05</span>
                                            @*<a class="blog-details__comments-first-reply btn-comment-reply">
                                                <i class="fa fa-reply"></i>
                                                reply
                                            </a>*@
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
                <div class="blog-details__write-comment">
                    <h5>Post a Comment</h5>
                    <form class="blog-details__comments-form replyForm" method="post" >
                        <input type="hidden" name="postId" value="@Model.BlogPost.Id"/>
                        <textarea id="" cols="30" rows="10" placeholder="Your comment" name="comment"></textarea>
                        <button class="btn btn--black" style="border:none"/>Send</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-sm-12 col-xl-3">
                <aside class="blog-details__sidebar">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Search..">
                        <a href="#">></a>
                    </form>
                    <div class="blog-details__about">
                        <h5>About Us</h5>
                        <a asp-controller="home" asp-action="about">
                            <img src="/uploads/images/sidebar-img-1.jpg" alt="">
                        </a>
                        <div>
                            Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis
                        </div>
                        <a asp-controller="home" asp-action="about"class="blog-details__readMe">Read More</a>
                    </div>
                    <div class="blog-details__category">
                        <h5>Categories</h5>
                        <ul>
                            @foreach (var item in Model.BlogCategories)
                            {
                                <li><a asp-action="Index" asp-route-id="@item.Id">@item.Name</a>(@item.BlogPosts.Count())</li>
                            }
                            @*<li><a href="#">Laboratory</a>(3)</li>
                            <li><a href="#">Research</a>(7)</li>*@
                        </ul>
                    </div>
                    <div class="blog-details__sidebar-posts">
                        <h5>Related Posts</h5>
                        <ul>
                            @foreach (var blog in Model.BlogPosts)
                            {
                                <li>
                                    <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id">
                                        <div class="blog-details__sidebar-img">
                                            <img src="/uploads/images/@blog.ImgUrl" alt="photo">
                                        </div>
                                        <div class="blog-details__sidebar-posts-info">
                                            <h4>@blog.Title</h4>
                                            <span>@blog.PublishedDate?.ToString("dd MMMM, yyyy")</span>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="blog-details__sidebar-media">
                        <h5>Follow Us</h5>
                        <div class="blog-details__main-footer--left">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/feed/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://twitter.com/?lang=tr">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                    @*<div class="blog-details__tags">
                        <h5>Tags</h5>
                        <div>
                            <a href="#">Care</a>
                            <a href="#">Health</a>
                            <a href="#">Care</a>
                            <a href="#">Health</a>
                            <a href="#">Care</a>
                            <a href="#">Health</a>
                        </div>
                    </div>*@
                </aside>
            </div>
        </div>
    </div>
</section>


@section addjs
{
    <script>
        $(document).ready(function () {
            $(".btn-comment-reply").click(function (e) {
                e.preventDefault();
                $(this).closest('.blog-details__comments-first-info').find(".response").css("display", "block");
            });
            $(".response__cancel").click(function (e) {
                e.preventDefault();
                $(this).closest('.response').css("display", "none");
            });

            $(".replyForm").submit(function (e) {
                e.preventDefault();
                let formData = new FormData(e.currentTarget);
                let toCommentId = $(this).closest(".blog-details__comments-first").data("comment-id");

                if (toCommentId != undefined) {
                    formData.set("commentId", toCommentId);
                }

                $.ajax({
                    url: '@Url.Action("PostComment")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType:"json",
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, "Successfully!")
                            /*location.reload();*/
                        }
                        else {
                            toastr.error(response.message, 'Error!');
                            //console.log(response)
                            //location.reload();

                        }
                    },
                    error: function (response) {
                        if (response.statusText == "parsererror") {
                            if (toCommentId != undefined) {
                                $(response.responseText).insertAfter($(`#c-${toCommentId}`));

                                $(".response").css("display", "block");
                                e.currentTarget.reset();
                                location.reload();
                            }
                            else {
                                $(".blog-details__comments-main").append($(response.responseText));
                                toastr.error(response.message, 'Error!');
                                /*location.reload();*/
                            }
                            location.reload();
                        }
                        location.reload();
                    }

                })


            })
        })

    </script>
}